@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.span-el {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
  font-size: 0rem;
  -webkit-transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
  -moz-transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
  -ms-transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
  -o-transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.nav-div:hover .span-el {
  max-width: 190px; /* or a value that fits the content */
  opacity: 1;
  font-size: 1.25rem;
}

.nav-link:hover .span-el,
.nav-link:hover svg {
  fill: #07c514;
  color: #07c514;
}

.about-name{
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.about-name:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s;

}

