.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7rem;
    background-color: rgba(50, 49, 49, 0.855);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: max-content;
    padding-top: 5rem ;
    padding-bottom: 5rem;
    transition: all 0.5s;

    
    width: 5rem;
}
.nav:hover {
    width: 13rem;
}
.nav__div---link--span {
    transition: all 10.5s;
    display: none;
}
.nav__div---link--span:hover {
    display: block;
}
.nav:hover .nav__div---link--span {
    display: block;
    transition: all 10.5s;
}
.nav__div---link--span:hover {
    color: rgb(7 197 20 / 1);
}
/* .nav__div:hover {
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
.nav__div {
    transition: all 0.5s 
}
.nav__div---link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.75rem;
    gap: 0.875rem;
    /* font-family: josefin-sans; */
    transition: all 0.5s;
    margin-left: 0.5rem;
    font-family: Judson, sans-serif;

}
.nav__div---link:hover {
    color: rgb(7 197 20 / 1);
}
.nav__div---link--icon {
    /* color: rgb(255 255 255 / 1); */
    /* color: #00FF00; */
}
.nav__div---link--icon:hover {
    color: rgb(7 197 20 / 1);
}
